@page "/planner"

@using StockControl.Services;
@using StockControl.Models;

@inject PlannerServices services;
@inject NavigationManager nav;

<PageTitle>Planner</PageTitle>




<h1 class="text-black-bold text-center">PLANNER</h1>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-white">
                <div class="card-body">
                    <EditForm Model="planner" class="row g-3 needs-validation" OnValidSubmit="(() => Create())">
                        <div class="col-12">
                            <label class="form-label" for="validationCustom01">ShopOrder</label>
                            <InputNumber class="form-control" id="validationCustom01" @bind-Value="planner.ShopOrder" required/>
                        </div>
                        <div class="col-12">
                            <label class="form-label" for="validationCustom02">N.Parte</label>
                            <InputText class="form-control" id="validationCustom02" @bind-Value="planner.Codigo" required/>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="validationCustoms03">Cantidad</label>
                            <InputText class="form-control" id="validationCustom03" @bind-Value=planner.Cantidad required/>
                        </div>
                        <div class="col-6">
                            <label class="form-label" for="validationCustoms04">Fecha</label>
                            <InputDate class="form-control" id="validationCustom04" @bind-Value="planner.Fecha" required/>
                        </div>
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    StockControl.Models.Planner planner = new StockControl.Models.Planner();
    

    private async Task Create()
    {
        var create = await services.CREATE(planner);
        nav.NavigateTo("/planner", true);
    }
}
