@page "/planner"

@using StockControl.Services;
@using StockControl.Models;

@inject PlannerServices services;
@inject NavigationManager nav;

<PageTitle>Planner</PageTitle>




<h1 class="text-black-bold text-center">PLANNER</h1>

<button class="btn btn-success m-2" @onclick="@(() => nav.NavigateTo("/planner/create"))">Registrar ShopOrder</button>
<RadzenDataGrid TItem="Models.Planner" Data="planners" AllowPaging="true" PageSize="10">
    <Columns>
        <RadzenDataGridColumn TItem="Models.Planner" Property="ShopOrder" Title="ShopOrder" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="Models.Planner" Property="Cantidad" Title="Cantidad Total" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Models.Planner" Property="Fecha" Title="Fecha" TextAlign="TextAlign.Center">
            <Template>
                <span>@context.Fecha.Value.ToShortDateString()</span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Models.Planner" Property="Id" Title="Opciones" TextAlign="TextAlign.Center">
            <Template>
                <button class="btn btn-primary" @onclick="@(() => nav.NavigateTo($"/planneredit/{context.Id}"))">Editar</button>
                <button class="btn btn-danger" @onclick="@(() => Delete(context.Id))">Borrar</button>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    StockControl.Models.Planner planner = new StockControl.Models.Planner();

    List<Models.Planner> planners = new List<Models.Planner>();
    Models.Planner plannersEdit = new Models.Planner();

    protected override async Task OnInitializedAsync()
    {
        planners = await services.GetPlanners();
    }

    private async Task Delete(int id)
    {
        await services.DELETE(id);

        planners = await services.GetPlanners();
    }
}
