@page "/planner/tabla"

@using StockControl.Services;
@using StockControl.Models;
@using System.Text.Json

@inject IJSRuntime js;
@inject EntradaServices services;

<PageTitle>Entradas</PageTitle>




<h1 class="text-black-bold text-center">PLANNER</h1>






<RadzenDataGrid TItem="Model" Data="@models" AllowPaging="true" PageSize="10">
    <Columns>
        <RadzenDataGridColumn TItem="Model" Property="FirstName" Title="N.PARTE" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Model" Property="LastName" Title=""/>
    </Columns>
</RadzenDataGrid>

@code {
    string value = "";
    List<Model> models = new List<Model>();


    class Model
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }

    Model model = new Model();


    void OnSubmit(Model model)
    {
        Console.WriteLine($"Submit: {JsonSerializer.Serialize(model, new JsonSerializerOptions() { WriteIndented = true })}");
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        Console.WriteLine($"InvalidSubmit: {JsonSerializer.Serialize(args, new JsonSerializerOptions() { WriteIndented = true })}");
    }
}
