@page "/entradas"

@using CsvHelper
@using CsvHelper.Configuration
@using StockControl.Services;
@using StockControl.Models;
@using System.Data
@using System.IO
@using NPOI.XSSF.UserModel
@using NPOI.SS.UserModel
@using System.Globalization



@inject IJSRuntime js;
@inject EntradaServices services;

<PageTitle>Entradas</PageTitle>





<h3>Cargar archivo CSV</h3>
<InputFile OnChange="@ImportCsvFile" />
<div class="container">
    @* <button class="btn btn-primary mb-2 mt-3 rounded-2" @onclick="ScanBarcode">ESCANEAR</button> *@
    <div class="table-responive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>CODIGO</td>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in dt.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in dt.Columns)
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>





@code {
    //Funcion para administrar excel
    DataTable dt = new DataTable();

    async Task ImportCsvFile(InputFileChangeEventArgs e)
    {
        var fileStream = e.File.OpenReadStream();
        var ms = new MemoryStream();
        await fileStream.CopyToAsync(ms);
        fileStream.Close();
        ms.Position = 0;

        using (var reader = new StreamReader(ms))
        using (var csv = new CsvReader(reader, new CsvConfiguration(CultureInfo.InvariantCulture)))
        {
            

            // Leer registros y cargar en DataTable
            csv.Read();
            csv.ReadHeader();

            foreach (var header in csv.HeaderRecord)
            {
                dt.Columns.Add(header);
            }

            while (csv.Read())
            {
                var row = dt.NewRow();
                for (int i = 0; i < csv.HeaderRecord.Length; i++)
                {
                    row[i] = csv.GetField(i);
                }
                dt.Rows.Add(row);
            }
        }
    }
}
