@page "/BasedeDatos"

@using CsvHelper
@using CsvHelper.Configuration
@using StockControl.Services;
@using StockControl.Models;
@using StockControl.Data;
@using System.Data
@using System.Text
@using System.IO
@using System.Globalization
@using System.Threading;
@using System.Diagnostics;
@using Blazored.LocalStorage;


@inject EntradasSalidasServices services;
@inject ILocalStorageService localStorage;

<PageTitle>Base de Datos</PageTitle>

<NavMenu/>

<a href="/index" class="link-primary text-decoration-none pb-3 fw-bold">
    <i class="bi bi-arrow-left p-2">
        Volver atrás
    </i>
</a>


<RadzenDataGrid TItem="Historialinventario" Data="@resultado" AllowPaging="true" PageSize="10" Style="" FilterMode="FilterMode.Advanced" AllowFiltering="true">
    <Columns>
        <RadzenDataGridColumn TItem="Historialinventario" Property="Codigo" Title="N.PARTE" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="Historialinventario" Property="CantidadEntrada" Title="ENTRADAS" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="Historialinventario" Property="FechaEntrada" Title="FECHA DE ENTRADA" TextAlign="TextAlign.Center">
            <Template>
                <span>@context.FechaEntrada.ToShortDateString()</span>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Historialinventario" Property="CantidadSalida" Title="SALIDAS" TextAlign="TextAlign.Center"/>
        <RadzenDataGridColumn TItem="Historialinventario" Property="FechaSalida" Title="FECHA DE SALIDA" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="Historialinventario" Property="CantidadFinal" Title="CANTIDAD RESTANTE" TextAlign="TextAlign.Center"/>
    </Columns>
</RadzenDataGrid>



@code {
    List<Historialinventario> resultado = new List<Historialinventario>();


    protected override async Task OnInitializedAsync()
    {

        await LoadData();

    }

    private async Task LoadData()
    {
        resultado = await services.GetEntradasSalidas();
    }
}
