@page "/entradas"

<PageTitle>Entradas</PageTitle>





<div class="container">
    <button class="btn btn-outline-primary mb-2 mt-3 rounded-2">ESCANEAR</button>
    <div class="table-responive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>CODIGO</th>
                    <th>CONTEO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>1</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>




@code {

}
