@page "/"


<PageTitle>Home</PageTitle>


<div class="container text-center mt-4">
    <div class="row row-cols-3">
        <!-- Primera tarjeta -->
        <div class="col mb-4">
            <a href="entradas" class="text-decoration-none">
                <div class="max-w-sm bg-white rounded shadow-lg text-center expand">
                    <i class="bi bi-clipboard-fill svg-icon mt-4"></i>
                    <div class="p-4">
                        <h3 class="text-black mb-2 font-bold text-4xl text-center text-uppercase fw-bold">Entradas</h3>
                    </div>
                </div>
            </a>
        </div>

        <!-- Segunda tarjeta -->
        <div class="col mb-4">
            <a href="salidas" class="text-decoration-none">
                <div class="max-w-sm bg-white rounded shadow-lg text-center expand">
                    <i class="bi bi-clipboard-check-fill svg-icon mt-4"></i>
                    <div class="p-4">
                        <h3 class="text-black mb-2 font-bold text-4xl text-center text-uppercase fw-bold">Salidas</h3>
                    </div>
                </div>
            </a>
        </div>

        <!-- Tercera tarjeta -->
        <div class="col mb-4">
            <a href="BasedeDatos" class="text-decoration-none">
                <div class="max-w-sm bg-white rounded shadow-lg text-center expand">
                    <i class="bi bi-clipboard2-data-fill svg-icon mt-4"></i>
                    <div class="p-4">
                        <h3 class="text-black mb-2 font-bold text-4xl text-center text-uppercase fw-bold">Base de datos</h3>
                    </div>
                </div>
            </a>
        </div>

        <!-- Cuarta tarjeta -->
        <div class="col mb-4">
            <a href="#" class="text-decoration-none">
                <div class="max-w-sm bg-white rounded shadow-lg text-center expand">
                    <i class="bi bi-bookmark-check-fill svg-icon mt-4"></i>
                    <div class="p-4">
                        <h3 class="text-black mb-2 font-bold text-4xl text-center text-uppercase fw-bold">Planner</h3>
                    </div>
                </div>
            </a>
        </div>
        <!-- Otras tarjetas pueden ir aquí -->
    </div>
</div>

