@page "/salidas"
<PageTitle>Salidas</PageTitle>


<div class="container">
    <div class="table-responive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>CODIGO</th>
                    <th>CONTEO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>1</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@code {

}
