<nav class="navbar bg-primary navbar-dark fixed-top small">
    <div class="container-fluid">
        <span class="navbar-brand fw-bold">
            MESA -
            <span class="navbar-brand fw-bold">
                INNOVACIÓN
                <i class="bi bi-filter"></i>
            </span>
        </span>
        <button class="navbar-toggler" style="height: 45px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="bi bi-justify"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-primary navbar-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">MESA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <NavLink class="nav-link" aria-current="page" href="entradas">
                            Entradas
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link active" href="salidas">
                            Salidas
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link active" href="BasedeDatos">
                            Base de Datos
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link active" href="planner">
                            Planner
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link active" href="shoporder">
                            Shop Order
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link active" href="historial">
                            Historial
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
